# set via `export AMRLB_CONFIG=/path/to/test.cfg`
dims_xyz = 2

# output
jobdir = /tmp
log_fname = test.log

max_reflvl = 4
policy = baseline
# number of timesteps - mesh is regenerated across timesteps
num_ts = 2
# rounds per timestep - mesh is reused across rounds
num_rounds = 2
